.header {
  /* background-color: #121212; */
  /* color: #ffffff; */
  display: flex;
    justify-content: center;
  padding: 1rem 2.5rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.logo img {
  height: 35px;
}
.navList {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
}
.navList li a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navList li a:hover {
  color: #ffffff;
}
.userMenu {
  position: relative;
}
.dropdownToggle {
  display: flex;
  align-items: center;
  border: 1px solid #444;
  border-radius: 16px;
  padding: 4px 16px ;
  cursor: pointer;
  color: white;
  background-color: #F5F5F5;
}
.lang {
  display: flex;
  justify-content: space-between;
align-items: center;
  gap:16px;
}

.chevron {
  font-size: 0.8rem;
  transform: translateY(-2px);
}

.dropdownMenu {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  width: 160px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.dropdownMenu a {
  color: #e0e0e0;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: right;
  transition: background-color 0.2s ease;
}

.dropdownMenu a:hover {
  background-color: #3c3c3c;
}

.dropdownMenu hr {
  border: none;
  border-top: 1px solid #444;
  margin: 0.5rem 0;
}