.social-section {
    background-image: url('../../assets/image/lines.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 400px;
  }
  
  .social-icons-container {
    display: flex;
    gap: 0.75rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 10;
  }
  
  .social-icons-container a img {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
  
  
  .social-icons-container a img:hover {
    opacity: 1;
  }